[user]
	# nameも使い分けてるので.gitconfig.localに書く
	# emailも.gitconfig.localに書く
	# スパム対策のため。

[include]
	# 環境ごとに異なる設定は、.gitconfig.localに書く。
	# 具体的には、OSXとLinuxとWindiwsでの違いとか。
	path = .gitconfig.local

[alias]
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short

[core]
	editor = vim
	ignorecase = false

[merge]
	## ff => --no--ff  常にpullの時などにマージコミットが作成される
    # ff = false

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]

	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[color]
	ui = true
